<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Course</title>
</head>

<body>
	<h1>Course ID:
		<a th:text="${courseDto.getId()}">VALUE</a>
	</h1>
	<form th:action="@{/admin/course/{id} (id = ${courseDto.getId()}) }" th:method="POST" th:object="${courseDto}">
		<leble> Course name:
			<input type="text" th:value="${courseDto.getName()}" th:field="*{name}" />
		</leble>
		<label>Location:
			<select name="location" required="required" id="location">
				<option th:text="${courseDto.getLocation().getName()}" type="text"></option>
				<option th:each="locationDto : ${locationDtoList}">
					<a th:text="${locationDto.getName()}">location</a>
				</option>
			</select>
			<input type="submit" value="Update" />
	</form>

	<form th:action="@{/admin/course/delet}" th:method="post" th:object="${courseDto}">
		<input type="hidden" th:value="${courseDto.getId()}" th:field="*{id}" />
		<input type="submit" value="Delet" />
	</form>
	<p>
		<a href="/showUserPage">Back to ADMIN page</a>
	</p>
</body>

</html>