<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Admin page</title>
	<style>
		.admin_info {
			float: inline-start;
			width: 15%;
			height: 200px;
		}

		.users_block {
			float: inline-start;
			width: 20%;
		}

		.table_list {
			border: 1px solid black;
			margin: 1px;
			padding: 1px;
		}

		.table_info {
			border: 1px solid black;
			margin: 1px;
			padding: 1px;
		}

		.logout {
			float: inline-end;
			width: 5%;
			height: 20px;
		}

		.course_block {
			float: inline-start;
			width: 21%;
		}

		.group_block {
			float: inline-start;
			width: 8%;
		}
	</style>
</head>

<body>
	<div>

		<div class="admin_info">
			<form th:action="@{/logout}" th:method="POST">
				<input type="submit" value="Logout" />
			</form>
			<h1> Hello! :
				<a th:text="${usersDetails.getUsername()}">VALUE</a>
			</h1>

			<h2>User type :
				<a th:text="${usersDto.getUserType().getUserType()}">VALUE</a>
			</h2>
			<p> First name:
				<a th:text="${usersInfo.getFirstName()}"> VALUE</a>
			</p>
			<p> Last name:
				<a th:text="${usersInfo.getLastName()}"> VALUE</a>
			</p>
			<p>
				<a th:href="@{/admin/updateprofile (id=${usersInfo.getId()})}"> Update profile</a>
			</p>
			<br>
			<p>
				<a th:href="@{/admin/updatePassword (id=${usersInfo.getId()})}"> Update Password</a>
			</p>
		</div>

		<div class="users_block">
			<h3>User list</h3>
			<p>
				<a href="/admin/user/registration">Register new user</a>
			</p>
			<table class="table_list">
				<thead>
					<tr>
						<th class="table_info" width="50px" align="center"> ID </th>
						<th class="table_info" width="75px" align="center"> User name </th>
						<th class="table_info" width="75px" align="center"> User type </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usersDto : ${usersDtoList}">
						<td class="table_info">
							<a th:href="@{/admin/user/{id} (id = ${usersDto.getId()})}"
								th:text="${usersDto.getId()}"></a>
						</td>
						<td class="table_info" th:text="${usersDto.getNickName()}"></td>
						<td class="table_info" th:text="${usersDto.getUserType()}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="course_block">
			<h2>Course list</h2>
			<p>
				<a href="/admin/course/registration">Add new course</a>
			</p>
			<table class="table_list">
				<thead>
					<tr>
						<th class="table_info" width="50px" align="center"> ID </th>
						<th class="table_info" width="100px" align="center"> Name </th>
						<th class="table_info" width="75px" align="center"> Location </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="courseDto : ${courseDtoList}">
						<td class="table_info" align="center">
							<a th:href="@{/admin/course/{id} (id = ${courseDto.getId()})}"
								th:text="${courseDto.getId()}"></a>
						</td>
						<td class="table_info" th:text="${courseDto.getName()}" align="center"></td>
						<td class="table_info" th:text="${courseDto.getLocation().getName()}" align="center"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="group_block">
			<h2>Group list</h2>
			<p>
				<a href="/admin/group/registration">Add new group</a>
			</p>

			<form th:action="@{/admin/deleteGroup}" th:method="post" th:object="${group}">
				<div>
					<table class="table_list">
						<thead>
							<tr>
								<th class="table_info" width="50px" align="center"> ID </th>
								<th class="table_info" width="100px" align="center"> Name </th>
								<th class="table_info" width="50px" align="center"> Select </th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="group : ${groupsDtoList}">
								<td class="table_info" align="center">
									<a th:href="@{/admin/group/{id} (id = ${group.getId()})}"
										th:text="${group.getId()}"></a>
								</td>
								<td class="table_info" th:text="${group.getName()}" align="center"></td>
								<td class="table_info" align="center">
									<input required="required" type="radio" th:value="${group.getId()}"
										th:field="*{id}">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
				<div>
					<input type="submit" value="Delet" />
				</div>
		</div>

		</form>

	</div>

</body>

</html>