<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Student page</title>
	<style>
		.student_info {
			float: inline-start;
			width: 20%;
			height: 200px;
		}

		.courseGroup_block {
			float: inline-start;
			width: 15%;
		}

		.logout {
			float: inline-end;
			width: 5%;
			height: 20px;
		}

		.courseStudent_block {
			float: inline-start;
			width: 15%;
		}

		.course_list {
			border: 1px solid black;
			margin: 1px;
			padding: 1px;
			width: 15%;
			float: inline-start;
		}

		.course_info {
			border: 1px solid black;
			margin: 1px;
			padding: 1px;
		}
	</style>
</head>

<body>

	<div class="student_info">
		<form th:action="@{/logout}" th:method="POST">
			<input type="submit" value="Logout" />
		</form>
		<h1> User:
			<a th:text="${usersDetails.getUsername()}">VALUE</a>
		</h1>
		<h2>User type:
			<a th:text="${usersDto.getUserType().getUserType()}">VALUE</a>
		</h2>
		<h2 th:if="${studentDto.getGroups()} != null">Group:
			<a th:text="${studentDto.getGroups().getName()}">VALUE</a>
		</h2>
		<h3> First name:
			<a th:text="${studentDto.getFirstName()}"> VALUE</a>
		</h3>
		<h3> Last name:
			<a th:text="${studentDto.getLastName()}"> VALUE</a>
		</h3>
		<p>
			<a th:href="@{/student/updateprofile (id=${studentDto.getId()})}"> Update profile</a>
		</p>
		<br>
		<p>
			<a th:href="@{/student/updatePassword (id=${studentDto.getId()})}"> Update Password</a>
		</p>

		<div th:if="${courseDtoAdditional.size()} gt 0">
			<div th:if="${courseStudentList.size()} lt 2">
				<form th:method="POST" th:action="@{/student/addAditionalCourse}" th:object="${studentDto}">
					<h2>Choose additional corses</h2>
					<input type="hidden" th:value="${studentDto.getId()}" th:field="*{id}" />
					<input type="hidden" th:value="${studentDto.getFirstName()}" th:field="*{firstName}" />
					<input type="hidden" th:value="${studentDto.getLastName()}" th:field="*{lastName}" />
					<div style="color: red" th:if="${#fields.hasErrors('course')}" th:errors="*{course}"></div>
					<lable for="course"> Select additional course:
						<select name="course" required="required" id="course">
							<option></option>
							<option th:each="courseDto : ${courseDtoAdditional}">
								<a th:text="${courseDto.getName()}">course</a>
							</option>
						</select>
					</lable>
					<br />
					<input type="submit" value="Add course" />
				</form>
			</div>
		</div>
		<div style="color: red" th:if="${courseDtoAdditional.size()} == 0">
			<h2>Sorry. You haven't added in to group. Contact administrator</h2>
		</div>
	</div>
	<div class="courseGroup_block" th:if="${studentDto.getGroups() != null}">
		<h2>Main courses:</h2>
		<table class="course_list">
			<thead>
				<tr>
					<th class="course_info"> ID </th>
					<th class="course_info"> Name </th>
					<th class="course_info"> Location </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="courseDto : ${courseGroupList}">
					<td class="course_info">
						<a th:href="@{/student/course/{id} (id = ${courseDto.getId()})}"
							th:text="${courseDto.getId()}"></a>
					</td>
					<td class="course_info" th:text="${courseDto.getName()}"></td>
					<td class="course_info" th:text="${courseDto.getLocation().getName()}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="courseStudent_block" th:if="${courseStudentList.isEmpty()} == false">
		<h2>Additional courses:</h2>
		<form th:action="@{/student/course/delet}" th:method="post" th:object="${studentDto}">
			<input type="hidden" th:value="${studentDto.getId()}" th:field="*{id}" />
			<input type="hidden" th:value="${studentDto.getFirstName()}" th:field="*{firstName}" />
			<input type="hidden" th:value="${studentDto.getLastName()}" th:field="*{lastName}" />
			<div>
				<table class="course_list">
					<thead>
						<tr>
							<th class="course_info"> ID </th>
							<th class="course_info"> Name </th>
							<th class="course_info"> Location </th>
							<th class="course_info"> Select </th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="courseDto : ${courseStudentList}">
							<td class="course_info">
								<a th:href="@{/student/course/{id} (id = ${courseDto.getId()})}"
									th:text="${courseDto.getId()}"></a>
							</td>
							<td class="course_info" th:text="${courseDto.getName()}"></td>
							<td class="course_info" th:text="${courseDto.getLocation().getName()}"></td>
							<td class="course_info">
								<input name="course_delet" required="required" type="radio"
									th:value="${courseDto.getName()}" th:field="*{course}" />
							</td>
						</tr>
					</tbody>

				</table>
			</div>
			<br><br><br><br><br>
			<input type="submit" value="Delet" />
		</form>
	</div>
</body>

</html>