<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Stuff page</title>
	<style>
		.stuff_info {
			float: inline-start;
			width: 15%;
			height: 200px;
		}

		.users_block {
			float: inline-start;
			width: 20%;
		}

		.users_list {
			border: 1px solid black;
			margin: 1px;
			padding: 1px;
			width: 20%;
			float: inline-start;
		}

		.user_info {
			border: 1px solid black;
			margin: 1px;
			padding: 1px;
			width: 10px;
		}

		.logout {
			float: inline-end;
			width: 5%;
			height: 20px;
		}

		.course_block {
			float: inline-start;
			width: 50%;
		}

		.group_block {
			float: inline-start;
			width: 8%;
		}

		.table_list {
			border: 1px solid black;
			margin: 1px;
			padding: 1px;
			float: inline-start;
		}

		.table_info {
			border: 1px solid black;
			margin: 1px;
			padding: 1px;
		}
	</style>
</head>

<body>
	<div>

		<div class="stuff_info">
			<form th:action="@{/logout}" th:method="POST">
				<input type="submit" value="Logout" />
			</form>
			<h1> Hello! :
				<a th:text="${usersDetails.getUsername()}">VALUE</a>
			</h1>

			<h2>User type :
				<a th:text="${usersDto.getUserType().getUserType()}">VALUE</a>
			</h2>
			<p> First name:
				<a th:text="${usersInfo.getFirstName()}"> VALUE</a>
			</p>
			<p> Last name:
				<a th:text="${usersInfo.getLastName()}"> VALUE</a>
			</p>
			<p>
				<a th:href="@{/stuff/updateprofile (id=${usersInfo.getId()})}"> Update profile</a>
			</p>
			<br>
			<p>
				<a th:href="@{/stuff/updatePassword (id=${usersInfo.getId()})}"> Update Password</a>
			</p>
		</div>
		<div class="course_block">
			<h2>Course list</h2>
			<p>
				<a href="/stuff/course/registration">Add new course</a>
			</p>
			<table class="table_list">
				<thead>
					<tr>
						<th class="table_info" width="30px" align="center"> N </th>
						<th class="table_info" width="100px" align="center"> Name </th>
						<th class="table_info" width="75px" align="center"> Location </th>
						<th class="table_info" width="150px" align="center"> Teacher </th>
						<th class="table_info" width="75px" align="center"> Group </th>
						<th class="table_info" width="75px" align="center"> Day of week </th>
						<th class="table_info" width="50px" align="center"> Start time </th>
						<th class="table_info" width="50px" align="center"> End time </th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="courseDto : ${courseDtoList}">
						<td class="table_info" th:text="${courseDtoList.indexOf(courseDto)}+1" align="center">
						</td>
						<td class="table_info" align="center">
							<a th:href="@{/stuff/course/{id} (id = ${courseDto.getId()})}"
								th:text="${courseDto.getName()}"></a>
						</td>
						<td class="table_info" th:text="${courseDto.getLocation().getName()}" align="center"></td>
						<td class="table_info" align="center">
							<a th:each="teacherDto : ${courseDto.getTeacher()}">
								<span th:text="${teacherDto.getFirstName()} + ' ' + ${teacherDto.getLastName()}"></span>
								<br>
							</a>
						</td>
						<td class="table_info" align="center">
							<a th:each="groupsDto : ${courseDto.getGroups()}">
								<span th:text="${groupsDto.getName()}"></span>
								<span>;</span>
							</a>
						</td>
						<td class="table_info" align="center">
							<a th:each="scheduleDto : ${courseDto.getSchedule()}">
								<span th:text="${scheduleDto.getDayOfWeek()}"></span>
								<br>
							</a>
						</td>
						<td class="table_info" align="center">
							<a th:each="scheduleDto : ${courseDto.getSchedule()}">
								<span th:text="${scheduleDto.getStartTime()}"></span>
								<br>
							</a>
						</td>
						<td class="table_info" align="center">
							<a th:each="scheduleDto : ${courseDto.getSchedule()}">
								<span th:text="${scheduleDto.getEndTime()}"></span>
								<br>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="group_block">
			<h2>Group list</h2>
			<p>
				<a href="/stuff/group/registration">Add new group</a>
			</p>

			<form th:action="@{/stuff/deleteGroup}" th:method="post" th:object="${group}">
				<div>
					<table class="table_list">
						<thead>
							<tr>
								<th class="table_info" width="50px" align="center"> N </th>
								<th class="table_info" width="100px" align="center"> Name </th>
								<th class="table_info" width="50px" align="center"> Select </th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="group : ${groupsDtoList}">
								<td class="table_info" align="center" th:text="${groupsDtoList.indexOf(group)}+1"></td>
								<td class="table_info" align="center">
									<a th:href="@{/stuff/group/{id} (id = ${group.getId()})}"
										th:text="${group.getName()}"></a>
								</td>
								<td class="table_info" align="center">
									<input required="required" type="radio" th:value="${group.getId()}"
										th:field="*{id}">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
				<div>
					<input type="submit" value="Delet" />
				</div>
			</form>
		</div>
	</div>

</body>

</html>