<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Teacher page</title>
	<style>
		.teacher_info {
			float: inline-start;
			width: 15%;
			height: 200px;
		}

		.course_list {
			border: 1px solid black;
			margin: 1px;
			padding: 1px;
			float: inline-start;
		}

		.course_info {
			border: 1px solid black;
			margin: 1px;
			padding: 1px;
		}
	</style>
</head>

<body>
	<div class="teacher_info">
		<form th:action="@{/logout}" th:method="POST">
			<input type="submit" value="Logout" />
		</form>
		<h1> User:
			<a th:text="${usersDetails.getUsername()}">VALUE</a>
		</h1>
		<h2>User type:
			<a th:text="${usersDto.getUserType().getUserType()}">VALUE</a>
		</h2>
		<p> First name:
			<a th:text="${usersInfo.getFirstName()}"> VALUE</a>
		</p>
		<p> Last name:
			<a th:text="${usersInfo.getLastName()}"> VALUE</a>
		</p>
		<p>
			<a th:href="@{/teacher/updateprofile (id=${usersInfo.getId()})}"> Update profile</a>
		</p>
		<br>
		<p>
			<a th:href="@{/teacher/updatePassword (id=${usersInfo.getId()})}"> Update Password</a>
		</p>
	</div>
	<div>
		<h3> Taughting courses: </h3>
		<table class="course_list">
			<thead>
				<tr>
					<th class="course_info" width="30px" align="center"> N </th>
					<th class="course_info" width="100px" align="center"> Name </th>
					<th class="course_info" width="75px" align="center"> Location </th>
					<th class="course_info" width="150px" align="center"> Groups list</th>
					<th class="course_info" width="100px" align="center"> Day of Week </th>
					<th class="course_info" width="75px" align="center"> Start time </th>
					<th class="course_info" width="75px" align="center"> End time </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="course : ${courseTeacherList}">

					<td class="course_info" align="center" th:text="${courseTeacherList.indexOf(course)}+1"></td>
					<td class="course_info" align="center">
						<a th:href="@{/teacher/course/{id} (id = ${course.getId()})}" th:text="${course.getName()}"></a>
					</td>
					<td class="course_info" th:text="${course.getLocation().getName()}" align="center"></td>
					<td class="course_info" align="center">
						<span th:each="group : ${course.getGroups()}">
							<a th:href="@{/teacher/group/{id} (id = ${group.getId()})}"
								th:text="${group.getName()}"></a>
							<a th:if="${course.getGroups().size()-1 != course.getGroups().indexOf(group)}">; </a>
						</span>
					</td>
					<td class="course_info" align="center">
						<p th:each="schedule : ${course.getSchedule()}">
							<a th:text="${schedule.getDayOfWeek()}"></a>
						</p>
					</td>
					<td class="course_info" align="center">
						<p th:each="schedule : ${course.getSchedule()}">
							<a th:text="${schedule.getStartTime()}"></a>
						</p>
					</td>
					<td class="course_info" align="center">
						<p th:each="schedule : ${course.getSchedule()}">
							<a th:text="${schedule.getEndTime()}"></a>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>