<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registration new User</title>
</head>
<body>
	<form th:method="POST" th:action="@{/auth/registration}" th:object="${users}">
		<lable for="nickName"> Enter user name: </lable>
		<input type="text" th:field="*{nickName}" id="nickName"/>
		<div style="color:rgb(255, 0, 0)" th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}"> Username error</div>
		<lable for="password"> Enter the password: </lable>
		<input type="password" th:field="*{password}" id="password"/>
		<div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Password error</div>
		<br/>
		<br/>
		<input type="submit" value="Sing up!"/>
	</form>
	
	<p>
		<a href="/auth/login"> Back to login page</a>
	</p>

</body>
</html>