<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> Course </title>
</head>
<body>
	<h1>Course:  
		<a th:text="${courseDto.getName()}">VALUE</a>
	</h1>
	
	<h2>Location: 
		<a th:text="${courseDto.getLocation.getName}">VALUE</a>
	</h2>
	
	<h2>Lecture list: </h2>
	<div th:each="lectureDto : ${lectureDtoList}">
		<a th:text="${lectureDto.getName}"></a>
	</div>
	
	<h2>Teacher list:</h2>
	<div th:each="teacherDto : ${teacherDtoList}">
		<a th:text="${teacherDto.getFirstName}"></a>
		<a th:text="${teacherDto.getLastName}"></a>
	</div>
	
	<h2>Schedule:</h2>
	<div th:each="scheduleDto : ${scheduleDtoList}">
		<a>Day of week: </a>
		<a th:text="${scheduleDto.getDayOfWeek}">day of week</a>
		<a> Start time: </a>
		<a th:text="${scheduleDto.getStartTime}">start time</a>
		<a> End time: </a>
		<a th:text="${scheduleDto.getEndTime}"></a>
	</div>
	
	<p>
		<a href="/showUserPage">Back to student page</a>
	</p>
</body>
</html>