<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Course info</title>
	<style>
		.course_block {
			float: inline-start;
			width: 20%;
		}

		.course_update_block {
			float: inline-start;
			width: 35%;
		}

		.course_teacher_group_block {
			float: inline-start;
			width: 25%;
			height: 150px;
		}

		.course_lecture_block {
			float: inline-start;
			width: 20%;
		}

		.course_student_block {
			float: inline-start;
			width: 25%;
		}

		.schedule_block {
			float: inline-start;
			width: 20%;
		}

		.table_list {
			border: 1px solid black;
			margin: 1px;
			padding: 1px;
			float: inline-start;
		}

		.table_info {
			border: 1px solid black;
			margin: 1px;
			padding: 1px;
		}
	</style>
</head>

<body>

	<!--	Page for Admin and Stuff-->
	<div th:if="${userType == 'admin' OR userType == 'stuff'}">
		<div class="course_update_block">
			<h1>Course ID:
				<a th:text="${courseDto.getId()}">VALUE</a>
			</h1>
			<form th:action="@{/{userType}/course/{id} (userType = ${userType}, id = ${courseDto.getId()}) }"
				th:method="POST" th:object="${courseDto}">
				<lable> Course name:
					<input type="text" th:value="${courseDto.getName()}" th:field="*{name}" />
				</lable>
				<label> Location:
					<select name="location" required="required" id="location">
						<option th:text="${courseDto.getLocation().getName()}" type="text"></option>
						<option th:each="locationDto : ${locationDtoList}">
							<a th:text="${locationDto.getName()}">location</a>
						</option>
					</select>
				</label>
				<input type="submit" value="Update" />
			</form>

			<form th:action="@{/{userType}/course/delet (userType = ${userType})}" th:method="post"
				th:object="${courseDto}">
				<input type="hidden" th:value="${courseDto.getId()}" th:field="*{id}" />
				<input type="submit" value="Delet" />
			</form>

			<p>
				<a href="/showUserPage">Back to users page</a>
			</p>

			<div th:if="${userType == 'stuff'}">
				<div name="teacher">
					<form th:method="post" th:action="@{/stuff/addTeacherToCourse}">
						<h2>Add teacher to course</h2>
						<input type="hidden" th:value="${courseDto.getName()}" name="name">
						<input type="hidden" th:value="${courseDto.getId()}" name="id">
						<lable for="teacher"> Select teacher:
							<select name="firstName" required="required">
								<option></option>
								<option th:each="teacherDto : ${teacherLeftList}">
									<a th:text="${teacherDto.getId()}"></a>
									<a th:text="${teacherDto.getNickName()}"></a>
									<a th:text="${teacherDto.getFirstName()}"></a>
									<a th:text="${teacherDto.getLastName()}"></a>
								</option>
							</select>
						</lable>
						<input type="submit" value="Add Teacher">
					</form>
				</div>
				<div name="groups">
					<form th:method="post" th:action="@{/stuff/addGroupToCourse}" th:object="${courseDto}">
						<h2>Add group to course</h2>
						<input type="hidden" th:value="${courseDto.getId()}" th:field="*{id}">
						<lable for="groups"> Select group
							<select name="groups" id="groups">
								<option></option>
								<option th:each="groupsDto : ${groupsLeftList}">
									<a th:text="${groupsDto.getName()}"></a>
								</option>
							</select>
						</lable>
						<input type="submit" value="Add Group">
					</form>
				</div>
				<div name="schedule">
					<form th:action="@{/stuff/addScheduleToCourse}" th:method="post">
						<h2>Add schedule</h2>
						<input type="hidden" th:value="${courseDto.getId()}" name="id">
						<input type="hidden" th:value="${courseDto.getName()}" name="name">
						<lable for="schedule"> Select schedule
							<select name="nameSchedule">
								<option></option>
								<option th:each="scheduleDto : ${scheduleLeftList}">
									<a th:text="${scheduleDto.getStartTime()}"></a>
									<a th:text="${scheduleDto.getEndTime()}"></a>
									<a th:text="${scheduleDto.getDayOfWeek()}"></a>
								</option>
							</select>
						</lable>
						<input type="submit" value="Add schedule">
					</form>
				</div>
			</div>
		</div>
		<div class="course_teacher_group_block" th:if="${userType == 'stuff'}">
			<div th:if="${teacherDtoList.size()} gt 0">
				<h2> Teacher list: </h2>
				<form th:action="@{/stuff/deletTeacherFromCourse}" th:method="post">
					<input type="hidden" th:value="${courseDto.getId()}" name="id">
					<input type="hidden" th:value="${courseDto.getName()}" name="name">
					<div>
						<table class="table_list">
							<thead>
								<tr>
									<th class="table_info" width="30px" align="center"> N </th>
									<th class="table_info" width="75px" align="center"> Nick name </th>
									<th class="table_info" width="120px" align="center"> First name </th>
									<th class="table_info" width="120px" align="center"> Last name </th>
									<th class="table_info" width="50px" align="center"> Select </th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="teacherDto : ${teacherDtoList}">
									<td class="table_info" th:text="${teacherDtoList.indexOf(teacherDto)}+1"
										align="center"></td>
									<td class="table_info" th:text="${teacherDto.getNickName()}" align="center"></td>
									<td class="table_info" th:text="${teacherDto.getFirstName()}" align="center"></td>
									<td class="table_info" th:text="${teacherDto.getLastName()}" align="center"></td>
									<td class="table_info" align="center">
										<input required="required" type="radio" th:value="${teacherDto.getId()}"
											name="firstName">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<br><br><br><br><br>
					<input type="submit" value="Delet" />
				</form>
			</div>
			<br>
			<div th:if="${groupsDtoList.size()} gt 0">
				<h2> Group list</h2>
				<form th:action="@{/stuff/deletGroupFromCourse}" th:method="post" th:object="${courseDto}">
					<input type="hidden" th:value="${courseDto.getId()}" th:field="*{id}">
					<div>
						<table class="table_list">
							<thead>
								<tr>
									<th class="table_info" width="30px" align="center"> ID </th>
									<th class="table_info" width="100px" align="center"> Name </th>
									<th class="table_info" width="50px" align="center"> Select </th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="groupsDto : ${groupsDtoList}">
									<td class="table_info" align="center" th:text="${groupsDto.getId()}"></td>
									<td class="table_info" align="center" th:text="${groupsDto.getName()}"></td>
									<td class="table_info" align="center">
										<input name="groups_delet" required="required" type="radio"
											th:value="${groupsDto.getName()}" th:field="*{groups}">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<br><br><br><br><br><br><br>
					<input type="submit" value="Delet" />
				</form>
			</div>
			<br>
			<div th:if="${scheduleDtoList.size()} gt 0">
				<h2> Schedule list</h2>
				<form th:action="@{/stuff/deletScheduleFromCourse}" th:method="post">
					<input type="hidden" th:value="${courseDto.getId()}" name="id">
					<input type="hidden" th:value="${courseDto.getName()}" name="name">
					<div>
						<table class="table_list">
							<thead>
								<tr>
									<th class="table_info" width="150px" align="center"> Day of week </th>
									<th class="table_info" width="75px" align="center"> Start time</th>
									<th class="table_info" width="75px" align="center"> End time</th>
									<th class="table_info" width="50px" align="center"> Select</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="scheduleDto : ${scheduleDtoList}">
									<td class="table_info" align="center" th:text="${scheduleDto.getDayOfWeek}"></td>
									<td class="table_info" align="center" th:text="${scheduleDto.getStartTime}"></td>
									<td class="table_info" align="center" th:text="${scheduleDto.getEndTime}"></td>
									<td class="table_info" align="center">
										<input name="nameSchedule" required="required" type="radio"
											th:value="${scheduleDto.getId()}">
									</td>
								</tr>
							</tbody>
						</table>

					</div>
					<div>
						<input type="submit" value="Delet" />
					</div>
				</form>
			</div>

		</div>
		<div class="course_lecture_block" th:if="${userType == 'stuff'}">
			<h2> Lecture list:</h2>
			<div>
				<form th:action="@{/stuff/addLectureToCourse}" th:method="post" th:object="${lecture}">
					<lable>Input lecture name
						<input type="text" th:field="*{name}" id="name">
					</lable>
					<div style="color:rgb(255, 0, 0)" th:if="${#fields.hasErrors('name')}"></div>
					<input type="hidden" th:value="${courseDto.getId()}" name="id">
					<input type="submit" value="Add">
				</form>
			</div>
			<br><br>

			<div>
				<form th:action="@{/stuff/deleteLectureFromCourse}" th:method="post">
					<input type="hidden" th:value="${courseDto.getId()}" name="id">
					<table class="table_list">
						<tread>
							<tr>
								<th class="table_info" width="30px" align="center"> N </th>
								<th class="table_info" width="200px" align="center"> Name </th>
								<th class="table_info" width="50px" align="center"> Select </th>
							</tr>
						</tread>
						<tbody>
							<tr th:each="lectureDto : ${lectureDtoList}">
								<td align="center" class="table_info" th:text="${lectureDtoList.indexOf(lectureDto)}+1">
								</td>
								<td align="center" class="table_info" th:text="${lectureDto.getName()}"></td>
								<td align="center" class="table_info">
									<input name="name" required="required" type="radio"
										th:value="${lectureDto.getName()}">
								</td>
							</tr>
						</tbody>
					</table>
					<div clacc="course_lecture_block">
						<input type="submit" value="Delet" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--	Page for Students and Teachers-->
	<div th:if="${userType != 'admin' AND userType != 'stuff'}">
		<div class="course_block">
			<h1>Course ID:
				<a th:text="${courseDto.getId()}">VALUE</a>
			</h1>
			<h2>Location:
				<a th:text="${courseDto.getLocation.getName}">VALUE</a>
			</h2>
			<p>
				<a href="/showUserPage">Back to users page</a>
			</p>
			<div th:if="${userType == 'student'}">
				<h2>Teacher list:</h2>
				<h2 th:each="teacherDto : ${teacherDtoList}">
					<a th:text="${teacherDtoList.indexOf(teacherDto)}+1"></a>
					<a>.</a>
					<a th:text="${teacherDto.getFirstName}"></a>
					<a th:text="${teacherDto.getLastName}"></a>
				</h2>
			</div>
			<br><br>
			<h2>Schedule:</h2>
			<table class="table_list">
				<thead>
					<tr>
						<th class="table_info" width="100px" align="center"> Day of week </th>
						<th class="table_info" width="75px" align="center"> Start time</th>
						<th class="table_info" width="75px" align="center"> End time</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="scheduleDto : ${scheduleDtoList}">
						<td class="table_info" th:text="${scheduleDto.getDayOfWeek}" align="center"></td>
						<td class="table_info" th:text="${scheduleDto.getStartTime}" align="center"></td>
						<td class="table_info" th:text="${scheduleDto.getEndTime}" align="center"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="course_block">
			<h2>Lecture list: </h2>
			<table class="table_list">
				<thead>
					<tr>
						<th class="table_info" width="30px" align="center"> N </th>
						<th class="table_info" width="150px" align="center"> Name</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="lectureDto : ${lectureDtoList}">
						<td class="table_info" th:text="${lectureDtoList.indexOf(lectureDto)}+1" align="center"></td>
						<td class="table_info" th:text="${lectureDto.getName}" align="center"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="course_student_block" th:if="${studentMainList.size()} gt 0">
			<h2>Student main list: </h2>
			<table class="table_list">
				<thead>
					<tr>
						<th class="table_info" width="30px" align="center"> N </th>
						<th class="table_info" width="250px" align="center"> Name</th>
						<th class="table_info" width="75px" align="center"> Group</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="student : ${studentMainList}">
						<td class="table_info" th:text="${studentMainList.indexOf(student)}+1" align="center"></td>
						<td class="table_info" th:text="${student.getFirstName} + ' ' + ${student.getLastName}"
							align="center"></td>
						<td class="table_info" th:text="${student.getGroups().getName()}" align="center"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="course_student_block" th:if="${studentAdditionalList.size()} gt 0">
			<h2>Student additional list: </h2>
			<table class="table_list">
				<thead>
					<tr>
						<th class="table_info" width="30px" align="center"> N </th>
						<th class="table_info" width="250px" align="center"> Name</th>
						<th class="table_info" width="75px" align="center"> Group</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="student : ${studentAdditionalList}">
						<td class="table_info" th:text="${studentAdditionalList.indexOf(student)}+1" align="center"></td>
						<td class="table_info" th:text="${student.getFirstName} + ' ' + ${student.getLastName}"
							align="center"></td>
						<td class="table_info" th:text="${student.getGroups().getName()}" align="center"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</body>

</html>