<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Group info</title>
	<style>
		.group_update_block {
			float: inline-start;
			width: 35%;
		}

		.student_block {
			float: inline-start;
			width: 22%;
		}

		.course_block {
			float: inline-start;
			width: 20%;
		}

		.table_list {
			border: 1px solid black;
			margin: 1px;
			padding: 1px;
			float: inline-start;
		}

		.table_info {
			border: 1px solid black;
			margin: 1px;
			padding: 1px;
		}
	</style>
</head>

<body>

	<!--	Page for Admin and Stuff-->
	<div th:if="${userType == 'admin' OR userType == 'stuff'}">
		<div class="group_update_block">
			<h1>Group ID:
				<a th:text="${group.getId()}">VALUE</a>
			</h1>
			<form th:action="@{/{userType}/group/{id} (userType = ${userType}, id = ${group.getId()})}" th:method="POST"
				th:object="${group}">
				<lable> Group name:
					<input type="text" th:value="${group.getName()}" th:field="*{name}" />
				</lable>
				<input type="submit" value="Update" />
			</form>

			<form th:action="@{/{userType}/deleteGroup (userType = ${userType})}" th:method="post" th:object="${group}">
				<input type="hidden" th:value="${group.getId()}" th:field="*{id}" />
				<input type="submit" value="Delet" />
			</form>

			<p>
				<a href="/showUserPage">Back to users page</a>
			</p>

			<div th:if="${userType == 'stuff'}">
				<div name="student">
					<form th:method="post" th:action="@{/stuff/addStudentToGroup}">
						<h2>Add Student to group</h2>
						<input type="hidden" th:value="${group.getName()}" name="name">
						<input type="hidden" th:value="${group.getId()}" name="id">
						<lable for="teacher"> Select student:
							<select name="firstName" required="required">
								<option></option>
								<option th:each="student : ${studentLeftList}">
									<a th:text="${student.getId()}"></a>
									<a th:text="${student.getNickName()}"></a>
									<a th:text="${student.getFirstName()}"></a>
									<a th:text="${student.getLastName()}"></a>
								</option>
							</select>
						</lable>
						<input type="submit" value="Add Students">
					</form>
				</div>
				<div name="course">
					<form th:method="post" th:action="@{/stuff/addCourseToGroup}" th:object="${group}">
						<h2>Add course to group</h2>
						<input type="hidden" th:value="${group.getId()}" th:field="*{id}">
						<lable for="course"> Select course
							<select name="course[]" id="groups">
								<option></option>
								<option th:each="course : ${courseLeftList}">
									<a th:text="${course.getName()}"></a>
								</option>
							</select>
						</lable>
						<input type="submit" value="Add Course">
					</form>
				</div>
			</div>
		</div>
		<div class="student_block" th:if="${userType == 'stuff'}">
			<div th:if="${userType == 'stuff'}">
				<div th:if="${courseGroupsList.size()} gt 0">
					<h2> Courses list:</h2>
					<form th:action="@{/stuff/deletCourseFromGroup}" th:method="post" th:object="${group}">
						<input type="hidden" th:value="${group.getId()}" th:field="*{id}">
						<div>
							<table class="table_list">
								<thead>
									<tr>
										<th class="table_info" width="50px" align="center"> N </th>
										<th class="table_info" width="100px" align="center"> Name </th>
										<th class="table_info" width="50px" align="center"> Select </th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="course : ${courseGroupsList}">
										<td class="table_info" align="center"
											th:text="${courseGroupsList.indexOf(course)}+1"></td>
										<td class="table_info" align="center" th:text="${course.getName()}"></td>
										<td class="table_info" align="center">
											<input name="course_delet" required="required" type="radio"
												th:value="${course.getName()}" th:field="*{course}">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<br><br><br><br><br><br><br>
						<input type="submit" value="Delet" />
					</form>
				</div>
			</div>
			<br>
			<div th:if="${userType == 'stuff'}">
				<div th:if="${studentGroupList.size()} gt 0">
					<h2> Student list: </h2>
					<form th:action="@{/stuff/deletStudentFromGroup}" th:method="post">
						<input type="hidden" th:value="${group.getId()}" name="id">
						<input type="hidden" th:value="${group.getName()}" name="name">
						<div>
							<table class="table_list">
								<thead>
									<tr>
										<th class="table_info" width="50px" align="center"> N </th>
										<th class="table_info" width="150px" align="center"> Nick name </th>
										<th class="table_info" width="150px" align="center"> First name </th>
										<th class="table_info" width="150px" align="center"> Last name </th>
										<th class="table_info" width="50px" align="center"> Select </th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="student : ${studentGroupList}">
										<td class="table_info" th:text="${studentGroupList.indexOf(student)}+1"
											align="center"></td>
										<td class="table_info" th:text="${student.getNickName()}" align="center"></td>
										<td class="table_info" th:text="${student.getFirstName()}" align="center"></td>
										<td class="table_info" th:text="${student.getLastName()}" align="center"></td>
										<td class="table_info" align="center">
											<input required="required" type="radio" th:value="${student.getId()}"
												name="firstName">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<br><br><br><br><br>
						<input type="submit" value="Delet" />
					</form>
				</div>
			</div>
		</div>

	</div>
	<!--		Page for Teachers and Students-->
	<div th:if="${userType == 'teacher' or userType == 'student'}">
		<div class="group_update_block">
			<h1>Group ID:
				<a th:text="${group.getId()}">VALUE</a>
			</h1>
			<h1>Group name:
				<a th:text="${group.getName()}">VALUE</a>
			</h1>
			<p>
				<a href="/showUserPage">Back to users page</a>
			</p>

			<br>
			<div th:if="${userType == 'student'}">
				<div th:if="${courseGroupsList.size()} gt 0">
					<h2> Courses list: </h2>
					<div>
						<table class="table_list">
							<thead>
								<tr>
									<th class="table_info" width="50px" align="center"> N </th>
									<th class="table_info" width="100px" align="center"> Name </th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="course : ${courseGroupsList}">
									<td class="table_info" align="center"
										th:text="${courseGroupsList.indexOf(course)}+1">
									</td>
									<td class="table_info" align="center">
										<a th:href="@{/{userType}/course/{id} (userType = ${userType}, id = ${course.getId()})}"
											th:text="${course.getName()}"></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="student_block" th:if="${studentGroupList.size()} gt 0">
			<h2> Student list: </h2>
			<div>
				<table class="table_list">
					<thead>
						<tr>
							<th class="table_info" width="50px" align="center"> N </th>
							<th class="table_info" width="150px" align="center"> Nick name </th>
							<th class="table_info" width="150px" align="center"> First name </th>
							<th class="table_info" width="150px" align="center"> Last name </th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="student : ${studentGroupList}">
							<td class="table_info" th:text="${studentGroupList.indexOf(student)}+1" align="center">
							</td>
							<td class="table_info" th:text="${student.getNickName()}" align="center"></td>
							<td class="table_info" th:text="${student.getFirstName()}" align="center"></td>
							<td class="table_info" th:text="${student.getLastName()}" align="center"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>