<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Update users password</title>
</head>

<body>
	<form th:action="@{/{userType}/updatePassword (userType=${userInfo.getUserType().getUserType()})}" th:method="post" th:object="${userInfo}">
		<lable name="password">Enter new password</lable>
		<input name="password" type="password" th:value="${userInfo.getPassword}" th:field="*{password}" required="required">
		<input type="hidden" th:value="${userInfo.getId}" th:field="*{id}">
		<br>
		<input type="submit" value="Update Password">
	</form>
	<p>
		<a href="/showUserPage">Back to user page</a>
	</p>
</body>

</html>